section.promo
    div.container.d-flex
        div.promo__item
            div.promo__item-title Качество
            div.wrapper.d-flex.justify-content-start.align-items-start
                div.promo__item-logo
                    +icon('promo-1')
                p.promo__item-text Самая качественная продукция, проверенная временем!

        div.promo__item
            div.promo__item-title Точность
            div.wrapper.d-flex.justify-content-start.align-items-start
                div.promo__item-logo
                    +icon('promo-2')
                p.promo__item-text Высокотехнологичное производство с полным циклом

        div.promo__item
            div.promo__item-title Доставка
            div.wrapper.d-flex.justify-content-start.align-items-start
                div.promo__item-logo
                    +icon('promo-3')
                p.promo__item-text Отлаженная логистика с крупнейшими транспортными компаниями