section.promo
    div.container.d-flex
        div.promo__item
            div.promo__item-title Надежность
            div.wrapper.d-flex.justify-content-start.align-items-start
                div.promo__item-logo
                    +icon('promo-1')
                p.promo__item-text Надежность и качество подтвержденное временем

        div.promo__item
            div.promo__item-title Индивидуальный подход
            div.wrapper.d-flex.justify-content-start.align-items-start
                div.promo__item-logo
                    +icon('promo-8')
                p.promo__item-text Продукция будет адаптирована под ваши нужды

        div.promo__item
            div.promo__item-title Долговечность
            div.wrapper.d-flex.justify-content-start.align-items-start
                div.promo__item-logo
                    +icon('promo-4')
                p.promo__item-text Средний срок службы не менее 30 лет