.top-line
    .container-fluid
        .row
            .col-md-6
                include ../components/top-title/top-title
            .col-6.d-none.d-md-block
                include ../components/top-controls/top-controls
