.top-line
    .container
        .row
            .col-md-4.col-lg-6.d-none.d-md-flex
                include ../components/top-title/top-title
            .col-md-8.col-lg-6.align-items-center.d-flex
                include ../components/language-picker/language-picker
                include ../components/top-controls/top-controls

