extends ../layout/base

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block styles
	link(rel="stylesheet" type='text/css' href="static/css/index.css")

block content
	include ../components/main-slider/main-slider
	include ../components/promo/promo
	include ../components/pages/pages
	include ../components/output/output

block script
	script(src="static/js/index.js")