extends ../layout/base

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block styles
	link(rel="stylesheet" type='text/css' href="static/css/index.css")

block content