a.btn-custom(href='javascript:void(0)').get-call.btn.d-none.d-md-block Заказать звонок
a.get-call__link(href=`tel:${nav.topContacts.phone.value}`)= nav.topContacts.phone.value + '; '
a.get-call__link(href=`tel:${nav.topContacts.phone.value}`)= nav.topContacts.phone.value