.output
    .container
        h2.section-title Производство
        .output__inner.output__wrap
            .output__col
                .output__item.big
                    a(href="javascript:void(0)")
                        img(src='static/img/content/output/pic-1.png')
                    .output__item-box
                        div.output__item-title lorem ipsum
                        ul.output__item-links
                            li
                                a(href='javascript:void(0)') Text ddwe d
                            li
                                a(href='javascript:void(0)') Text ddwe d
                            li
                                a(href='javascript:void(0)') Text ddwe d
                .output__wrap
                    .output__item.small
                        a(href="javascript:void(0)")
                            img(src='static/img/content/output/pic-6.jpg')
                        .output__item-box
                            div.output__item-title lorem ipsum
                            p.output__item-description adadef wgrvesrg egrverg wrgw gg f dawedw
                    .output__item.small
                        a(href="javascript:void(0)")
                            img(src='static/img/content/output/pic-5.png')
                        .output__item-box
                            div.output__item-title lorem ipsum
                            ul.output__item-links
                                li
                                    a(href='javascript:void(0)') Text ddwe d
                                li
                                    a(href='javascript:void(0)') Text ddwe d
                                li
                                    a(href='javascript:void(0)') Text ddwe d
            .output__col
                .output__wrap
                    .output__item.small
                        a(href="javascript:void(0)")
                            img(src='static/img/content/output/pic-4.jpg')
                        .output__item-box
                            div.output__item-title lorem ipsum
                            p.output__item-description adadef wgrvesrg egrverg wrgw gg f dawedw
                    .output__item.small
                        a(href="javascript:void(0)")
                            img(src='static/img/content/output/pic-2.png')
                        .output__item-box
                            div.output__item-title lorem ipsum
                            p.output__item-description adadef wgrvesrg egrverg wrgw gg f dawedw
                .output__item.big
                    a(href="javascript:void(0)")
                        img(src='static/img/content/output/pic-3.jpg')
                    .output__item-box
                        div.output__item-title lorem ipsum
                        ul.output__item-links
                            li
                                a(href='javascript:void(0)') Text ddwe d
                            li
                                a(href='javascript:void(0)') Text ddwe d
                            li
                                a(href='javascript:void(0)') Text ddwe d