ul.top-controls
    each root, index in nav.topContacts
        li
            if index === "phone"
                - prop = "tel:"
            if index === "mail"
                - prop = "mailto:"
            if index === "skype"
                - prop = "skype:"
            a(href=`${prop}${root.value}`)= root.value
                +icon(root.icon)