ul.in-news
    li.in-news__item
        span.in-news__logo
            i.far.fa-chevron-square-right
        a(href='javascript:void(0)') Министр здравоохранения РФ Вероника Скворцова
        time(datetime='2012-12-23') 23 декабря 2012

    li.in-news__item
        span.in-news__logo
            i.far.fa-chevron-square-right
        a(href='javascript:void(0)') Министр здравоохранения РФ Вероника Скворцова
        time(datetime='2012-12-23') 23 декабря 2012

    li.in-news__item
        span.in-news__logo
            i.far.fa-chevron-square-right
        a(href='javascript:void(0)') Министр здравоохранения РФ Вероника Скворцова
        time(datetime='2012-12-23') 23 декабря 2012